.crumb-trail {
    display: flex;
    column-gap: 0.95rem;
    margin-top: 1rem;
    overflow-x: auto;
    &-item {
        position: relative;
        height: 1.5rem;
        flex-shrink: 0;
        padding: 0 0.5rem;
        background-color: $clr-primary;
        color: $white;
        text-transform: capitalize;
        transition: $trans-ease;
        &:first-child {
            border-radius: $radius 0 0 $radius;
        }
        &:not(:first-child)::before {
            content: '';
            position: absolute;
            left: 0;
            transform: translateX(-100%);
            border-top: 0.75rem solid $clr-primary;
            border-bottom: 0.75rem solid $clr-primary;
            border-left: 0.75rem solid transparent;
            transition: inherit;
        }
        &::after {
            content: '';
            position: absolute;
            right: 0;
            transform: translateX(100%);
            border-top: 0.75rem solid transparent;
            border-bottom: 0.75rem solid transparent;
            border-left: 0.75rem solid $clr-primary;
            transition: inherit;
        }
        &:hover,
        &:last-child {
            background-color: $clr-primary-2;
            &::before {
                border-top-color: $clr-primary-2;
                border-bottom-color: $clr-primary-2;
            }
            &::after {
                border-left-color: $clr-primary-2;
            }
        }
    }
}
