.footer {
    height: 15rem;
    background-color: $black;
    color: $white;
    @extend %grid-center;
    &-menu {
        @extend %flex-center;
        column-gap: 2rem;
        &-links {
            display: flex;
            flex-flow: column wrap;
            row-gap: 0.5rem;
            padding: 0 2rem;
            border-left: 2px solid $clr-primary-2;
            border-right: 2px solid $clr-primary-2;
            text-align: center;
            a {
                color: $white;
                text-transform: capitalize;
                letter-spacing: $spacing;
                transition: $trans-ease;
                &:hover {
                    color: $clr-primary-2;
                }
            }
        }
        &-icons {
            a {
                font-size: 2rem;
                color: $white;
                &:hover {
                    color: $gray-dark;
                }
            }
        }
    }
    &-copyright {
        margin-top: 2rem;
        text-align: center;
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 800px) {
    .footer {
        &-menu {
            flex-flow: column wrap;
            row-gap: 1rem;
            &-links {
                flex-flow: row wrap;
                padding: 0;
                border-left: none;
                border-right: none;
                li {
                    padding: 0 0.5rem;
                    border-left: 1px solid $clr-primary-2;
                    &:last-child {
                        border-right: 1px solid $clr-primary-2;
                    }
                }
            }
        }
        &-copyright {
            margin-top: 1rem;
        }
    }
}
