.hero-slider {
    position: relative;
    width: 100%;
    height: calc(100vh - $navbar-height);
    border-top: 1px solid $gray-dark;
    .slide {
        @include absolute($top: 0, $left: 0);
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: $trans-ease;
        transition-duration: 1s;
        &.active {
            opacity: 1;
            visibility: visible;
        }
        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-content {
            @include absolute($bottom: 0, $left: 0);
            width: 100%;
            padding: 2rem 2rem 4.5rem;
            background-color: rgba(0, 0, 0, 0.25);
            @include for-size(md) {
                padding: 1rem 1rem 3rem;
            }
            .btn {
                background-color: $clr-primary-2;
            }
            h2 {
                margin-bottom: 1rem;
                color: $white;
                font-size: 2rem;
                @include for-size(md) {
                    font-size: 1.75rem;
                }
                @include for-size(sm) {
                    font-size: 1.5rem;
                }
            }
        }
    }
    &-controls {
        @include absolute($top: 50%);
        transform: translateY(-50%);
        width: 100%;
        @include flex-between;
        button {
            margin: 0 1.5rem;
            border: none;
            background-color: transparent;
            color: $white;
            opacity: 0.75;
            font-size: 3rem;
            &:hover {
                opacity: 1;
            }
            @media screen and (max-width: 800px) {
                margin: 0 0.5rem;
                font-size: 2.5rem;
            }
        }
    }
    &-stages {
        @include absolute($bottom: 2rem);
        width: 100%;
        @include flex-center;
        column-gap: 1rem;
        span {
            @include circle(1.5rem);
            @include grid-center;
            background-color: $white;
            cursor: pointer;
            &::after {
                content: '';
                @include circle(1.25rem);
                background-color: $clr-primary;
                transform: scale(0);
                transition: $trans-ease;
            }
            &.active::after {
                transform: scale(1);
            }
        }
        @include for-size(md) {
            bottom: 1rem;
            column-gap: 0.75rem;
            span {
                width: 1rem;
                height: 1rem;
                &::after {
                    width: 0.75rem;
                    height: 0.75rem;
                }
            }
        }
    }
}
