.products-list {
    display: grid;
    row-gap: 2rem;
    article {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem 2rem;
        align-items: center;
        padding-bottom: 2rem;
        border-bottom: 0.25rem solid $clr-primary;
        &:last-child {
            padding-bottom: unset;
            border-bottom: unset;
        }
        img {
            max-width: 20rem;
            width: 100%;
            border: 1px solid $gray-light;
            border-radius: $radius;
        }
        h4 {
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
        }
        p {
            margin-bottom: 0.5rem;
        }
        @media screen and (max-width: 992px) {
            grid-template-columns: unset;
        }
    }
}
