.slider {
    position: relative;
    overflow: hidden;
    & > div:first-child {
        transition: $trans-ease;
        user-select: none;
        .products-grid {
            display: flex;
            gap: 0;
            article {
                flex: 0 0 calc(100% / 3);
                padding: 0 0.5rem;
                box-shadow: unset;
                @include for-size(md) {
                    flex: 0 0 50%;
                }
                @include for-size(sm) {
                    flex: 0 0 100%;
                }
            }
        }
    }
    &-controls button {
        @include absolute($top: 50%, $left: 0);
        transform: translateY(-50%);
        @include circle(2rem);
        @include grid-center;
        border: none;
        background-color: $clr-primary;
        color: $white;
        font-size: 1.5rem;
        transition: $trans-ease;
        &:last-child {
            left: unset;
            right: 0;
        }
        &:hover {
            background-color: $clr-primary-2;
        }
    }
    &-stages {
        @include flex-center;
        gap: 1rem;
        margin: 2rem 0 4rem;
        span {
            @include circle(1rem);
            background-color: $gray-light;
            transition: $trans-ease;
            cursor: pointer;
            &.active {
                transform: scale(1.25);
                background-color: $clr-primary;
                pointer-events: none;
            }
        }
    }
}
