.slider {
    position: relative;
    overflow: hidden;
    & > div:first-child {
        transition: $trans-ease;
        user-select: none;
        .products-grid {
            display: flex;
            gap: 0;
            article {
                flex: 0 0 calc(100% / 3);
                padding: 0 0.5rem;
                box-shadow: unset;
                @media screen and (max-width: 800px) {
                    flex: 0 0 50%;
                }
                @media screen and (max-width: 500px) {
                    flex: 0 0 100%;
                }
            }
        }
    }
    &-controls button {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        @extend %grid-center;
        border: none;
        border-radius: 50%;
        background-color: $clr-primary;
        color: $white;
        font-size: 1.5rem;
        transition: $trans-ease;
        &:last-child {
            left: unset;
            right: 0;
        }
        &:hover {
            background-color: $clr-primary-2;
        }
    }
    &-stages {
        @extend %flex-center;
        gap: 1rem;
        margin: 2rem 0 4rem;
        span {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: $gray-light;
            transition: $trans-ease;
            cursor: pointer;
            &.active {
                transform: scale(1.25);
                background-color: $clr-primary;
                pointer-events: none;
            }
        }
    }
}
