@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import 'config';
@import 'navbar';
@import 'hero-slider';
@import 'slider';
@import 'subscribe-form';
@import 'brands';
@import 'crumb-trail';
@import 'filters';
@import 'sort';
@import 'products-grid';
@import 'products-list';
@import 'single-product';
@import 'cart';
@import 'stripe-checkout-form';
@import 'about';
@import 'services';
@import 'accordion';
@import 'page-404';
@import 'copy-btn';
@import 'scroll-up-btn';
@import 'footer';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: $black;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    letter-spacing: $spacing;
}

h1,
h2 {
    line-height: 1.25;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img,
svg {
    display: block;
}

input,
select {
    background-color: $white;
    color: $black;
    font-size: 1rem;
    &:focus {
        outline: none;
    }
}

button {
    color: $black;
    font-size: 1rem;
    cursor: pointer;
    &:disabled {
        cursor: default;
    }
}

.btn {
    display: inline-block;
    padding: 0.5rem;
    border: none;
    border-radius: $radius;
    box-shadow: $shadow-light;
    background-color: $clr-primary;
    color: $white;
    @extend %btn;
    &:hover {
        background-color: $clr-primary-2;
    }
}

.border-btn {
    height: 2rem;
    display: inline-flex;
    align-items: center;
    padding: 0 0.5rem;
    border: 1px solid $clr-primary-2;
    border-radius: $radius;
    background-color: transparent;
    color: $black;
    @extend %btn;
    &:hover,
    &.active {
        box-shadow: $shadow-light;
        background-color: $clr-primary-2;
        color: $white;
    }
}

.amount-btns {
    display: flex;
    align-items: center;
    p {
        width: 2.5rem;
        text-align: center;
        font-size: 2rem;
    }
    button {
        border: none;
        background-color: transparent;
        font-size: 1.25rem;
    }
}

.section {
    margin: 4rem 0;
    &-center {
        max-width: $max-width;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    &-title {
        margin-bottom: 4rem;
        text-align: center;
        overflow-wrap: anywhere;
        h2 {
            font-size: 2rem;
        }
        div {
            width: 5rem;
            height: 0.25rem;
            margin: 0.25rem auto 0;
            background-color: $clr-primary;
        }
    }
}

.page-100 {
    min-height: calc(100vh - 20rem);
    padding: 4rem 0;
    &-crumb {
        min-height: calc(100vh - 21.5rem);
        padding: 4rem 0;
    }
}

.min-100 {
    min-height: 100vh;
}

.grid-center {
    @extend %grid-center;
}

.text-center {
    text-align: center;
}

/********** Range Input Styles **********/

/* Range Reset */
input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}
/* Removes default focus */
input[type='range']:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type='range']::-webkit-slider-runnable-track {
    height: 0.5rem;
    border-radius: $radius;
    background-color: $gray-light;
}
/* slider thumb */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    margin-top: -0.25rem;
    border-radius: 50%;
    background-color: $clr-primary;
    transition: $trans-ease;
    &:hover {
        background-color: $clr-primary-2;
    }
}

/***** Firefox styles *****/
/* slider track */
input[type='range']::-moz-range-track {
    height: 0.5rem;
    border-radius: $radius;
    background-color: $gray-light;
}
/* slider thumb */
input[type='range']::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border: none;
    border-radius: 50%;
    background-color: $clr-primary;
    transition: $trans-ease;
    &:hover {
        background-color: $clr-primary-2;
    }
}
